<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li class="dropdown">
            <a href="#">Projects ▼</a>
            <div class="dropdown-content">
                <a href="/projects/project1/">Project 1</a>
                <a href="/projects/project2/">Project 2</a>
                <a href="/projects/project3/">Project 3</a>
                <a href="/projects/project4/">Project 4</a>
            </div>
        </li>
        <li><a href="/about/">About</a></li>
        <li><a href="/cv/">CV</a></li>
        <li><a href="/contact/">Contact</a></li>
    </ul>
</nav>
