<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sam Rosenberg</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
      {% include nav.html %}

  <main>
    <section class="content">
      {{ content }}
    </section>
  </main>
    <footer>
        <p>&copy; 2025 Sam Rosenberg. All rights reserved.</p>
    </footer>
    <button id="darkModeBtn">Toggle Dark Mode</button>

    <script src="/nav-bar-move.js"></script>
</body>
</html>
